* {
  padding: 0;
  margin: 0;
  text-align: center;
}

.title {
  padding: 40px;
  background-color: #8c0303;
  color: white;
  font-size: 50px;
  margin-bottom: 30px;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-item {
  list-style-type: none;
  margin: 15px 0;
  width: 300px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.input-label {
  margin: 20px 0;
  color: white;
  font-size: 5px;
}

.input-task {
  font-size: 20px;
}
.add-btn {
  font-size: 17px;
  padding: 4px 10px;
  background: #8c0303;
  color: white;
  border: 1px solid white;
}

.list-btn {
  font-size: 15px;
  padding: 0 5px;
  margin: 0 5px;
  background-color: white;
  border: 1px solid#8c0303;
}

.buttons {
}
